<span *ngIf="!data">
  Loading ...
</span>
<div *ngIf="data">
  <table class='table'>
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let d of data" (click)="edit(d)"  >
        <td>{{ d.id}}</td>
        <td>{{ d.name}}</td>
      </tr>
    </tbody>
  </table>
  <app-current-edit *ngIf="currentDatum" [currentDatum]="currentDatum">

  </app-current-edit>

  <p>
    <button (click)="save()">Save</button>
    <button (click)="add()">Add</button>
  </p>
</div>
